@import "../../common/css/common_mixin";

body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

//变量
$fontColor: #76919b, #576e76, #725ef1, #313e51;
$bgColor: #f0eefc, #725fec, #f4f8f9, #27a9f7, #2082e5, #27a9f6, #dddddd;
$side_width: 220px;
$sidebar_left: 54px;
$side_title_icon_size: 32px;
$sidelist_icon_size: 23px;
$open_icon_size: 23px;

//盒模型
%border_box {
  @include box-sizing(border-box);
}

//默认按钮样式
%btn_default_style {
  background-color: nth($bgColor, 6);
  color: #ffffff;
  @include border-radius(5px);
  @include transition(0.3s);
  &:hover {
    background-color: darken(nth($bgColor, 6), 5%);
  }
}

//字体划过时样式
%font_style {
  a {
    color: nth($fontColor, 1);
    &.active, &:hover {
      color: nth($fontColor, 3);
    }
  }
}

//侧边栏图标背景
$icon_list: side_admin_icon, side_order_icon, side_product_icon, side_sort_icon, side_title_icon,
side_user_icon;
//循环
@each $bg_icon in $icon_list {
  .#{$bg_icon} {
    background: url("../images/#{$bg_icon}.png") no-repeat 20px;
    background-size: $sidelist_icon_size;
  }
}

/*外层*/
.wrapper {
}

/*侧边栏*/
#sidebar {
  position: absolute;
  left: 1px;
  top: 0;
  width: $side_width;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #e9f1f1;
  padding: 10px 0 0 0;
  overflow: auto;
  @extend %border_box;
  /*标题*/
  h1 {
    font-size: 20px;
    color: nth($fontColor, 3);
    padding-left: $sidebar_left;
    margin: 12px 0 20px 0;
    background: url("../images/side_title_icon.png") no-repeat 20px;
    background-size: $side_title_icon_size;
  }
}

/*侧边菜单*/
#sidemenu {
  li {
    display: block;
    /*菜单标题*/
    h3 {
      position: relative;
      font-size: 16px;
      color: nth($fontColor, 2);
      padding: 8px 0 8px $sidebar_left;
      cursor: pointer;
      /*展开按钮*/
      .open_icon {
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -$open_icon_size/2;
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url("../images/open_icon.png") no-repeat;
        background-size: $open_icon_size;
        @include transform(rotate(90deg));
        @include transition(0.3s);
        &.close {
          @include transform(rotate(0));
        }
      }
    }
    a {
      display: block;
      color: nth($fontColor, 1);
      padding: 8px 0 8px 50px;
      border-left: 4px solid #ffffff;
      margin: 1px auto;
      &.active, &:hover {
        background-color: nth($bgColor, 3);
        color: nth($fontColor, 3);
        border-left: 4px solid nth($bgColor, 2);
      }
    }
  }
}

/*右侧主要内容*/
#main {
  padding-left: $side_width;
  min-width: 1200px;
  @include box-sizing(border-box);
}

#main_top {
  padding-right: 60px;
}

/*顶部菜单*/
#top_menu {
  font-size: 0;
  text-align: right;
  li {
    display: inline-block;
    a {
      display: block;
      color: nth($fontColor, 2);
      padding: 12px 8px;
      font-size: 14px;
      &.active, &:hover {
        color: nth($fontColor, 3);
      }
    }
  }
}

/*主要内容*/
$search_input_width:270px;
$search_height:35px;
#main_content {
  background-color: nth($bgColor, 3);
  padding: 25px 50px;
  overflow: auto;
  @extend %border_box;
  .main_box {
    width: 70%;
    /*商品列表盒子*/
    &.productListBox {
      width: 100%;
    }
    &.imgListBox{
      width: 80%;
    }
  }
  /*头部*/
  .main_title {
    margin: 10px 0 20px 0;
    .right {
      font-size: 0;
      float: right;
      /*添加按钮*/
      .addAction, .selectAll {
        display: inline-block;
        padding: 7px 28px;
        margin: 0 3px;
        @extend %btn_default_style;
      }
      /*搜索*/
      .search_box {
        height: $search_height;
        position: relative;
        /*搜索框*/
        .search_input {
          width: $search_input_width;
          height: $search_height;
          padding: 5px 12px ;
          margin-right: 10px;
          color: #999999;
          background-color: #ffffff;
          @include box-sizing(border-box);
          @include border-radius(15px);
        }
        /*搜索按钮*/
        .search_btn {
          position: absolute;
          left:$search_input_width - $search_height;
          width: 30px;
          height: $search_height;
          background: url("../images/search_icon.png") no-repeat left center;
          background-size: 20px;
          cursor: pointer;

        }
      }

    }
  }
  h2 {
    display: inline-block;
    font-size: 20px;
    color: nth($fontColor, 3);
  }

  /*按钮*/
  .form_btn {
    font-size: 0;
    margin: 30px 0 0 100px;
    input {
      width: 90px;
      height: 32px;
      color: #ffffff;
      cursor: pointer;
      margin: 0 5px;
      @include border-radius(5px);
    }
    #confirm_btn {
      @extend %btn_default_style;
    }
    #cancel_btn {
      background-color: #dddddd;
      color: #666;
    }
  }

}

/*添加管理员表单*/
$input_width: 260px;
$label_width: 120px;
#addAdminForm ul {
  width: auto;
  li {
    font-size: 0;
    margin: 10px auto;
    color: nth($fontColor, 2);
    /*提示信息*/
    @at-root
    #prompt_mes {
      font-size: 14px;
      color: #fa3338;
    }
    label {
      display: inline-block;
      width: $label_width;
      font-size: 14px;
      vertical-align: middle;

    }
    input, select {
      display: inline-block;
      width: $input_width;
      height: 30px;
      padding: 2px 5px;
      border: 1px solid #dddddd;
      font-size: 14px;
      vertical-align: middle;
      @include box-sizing(border-box);
    }
    input[type="file"] {
      border: none;
    }
  }
}

/*添加商品列表*/
#addAdminForm ul.addProduct, #addAdminForm ul.addUser li {
  input[type="radio"] {
    width: auto;
    height: 15px;
  }
  label.selectTitle {
    width: auto;
    margin-right: 100px;
  }
  textarea {
    width: $input_width*2;
    height: 120px;
    border: 1px solid #dddddd;
    @include box-sizing(border-box);
  }
  /*添加附件按钮*/
  #attachFileBtn {
    background-color: #dddddd;
    color: #666;
    padding: 5px 8px;
    font-size: 13px;
    @include border-radius(3px);
  }
  /*附加文件*/
  #attachList {
    margin-left: $label_width;
    margin-top: 10px;
  }
  .attachItem {
    display: inline-block;
    height: 20px;
    font-size: 13px;
    padding: 2px 4px;
    margin-right: 12px;
    margin-bottom: 5px;
    background-color: #dddddd;
  }
}

/*管理员列表表格*/
#adminListTb {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background-color: #ffffff;
  /*表头*/
  th {
    color: nth($fontColor, 1);
    padding: 12px 0;
    font-size: 18px;
    border-bottom: 1px solid #f2f2f2;


  }
  td {
    color: nth($fontColor, 2);
    border: none;
    padding: 10px 50px;
    border-bottom: 1px solid #f2f2f2;
    @extend %font_style;
    //编辑操作
    &.edit a {
      margin: 0 5px;
    }
    //用户头像
    &.userFace img {
      height: 50px;
    }
  }
}

/*商品列表*/
#adminListTb.productListTb {
  th {
    width: auto;
    font-size: 16px;
    padding: 20px 6px;
  }
  td {
    padding: 10px 5px;
    font-size: 14px;
    &.overflow_ellipsis {
      max-width: 150px;
      @extend %overflow-ellipsis-oneline;

    }
  }

}

/*分页*/
#page_box {
  text-align: center;
  margin: 20px auto;
  a, span {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    color: #4d555d;
    padding: 0 5px;

  }
  /*数字页码*/
  .page_num {
    margin: 0 8px;
    padding: 5px 10px;

  }
  /*当前页*/
  .cur_page {
    color: #ffffff;
    background-color: nth($bgColor, 5);
    @include border-radius(50%);
  }
  /*非当前页*/
  .other_page {
    &:hover {
      background-color: nth($bgColor, 7);
      @include border-radius(50%);

    }
  }
  /*无法点击页*/
  .disabled_page {
    color: #999999;
  }
}